@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
 font-family: Source Sans Pro; 
 background-color: #eee;
}
header {
    font-family: Abril Fatface; 
    text-align: center;
   }
.article {
    font-family: Roboto Slab; 
     
}
.newspaper-container {
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px #ddd;
    width: 700px;
    padding: 15px;

}

h5{
    color: #dd3232;
}
li, a {
    display: inline;
    color: #777;
    margin: 0 1px;
    margin-top: -5px;
    
}
hr {
    color: #777;
    align-items: center;

}
.date {
    text-align: left;
    font-size: 8pt;
}
img {
   width: 100%; 
}
section#first-section {
    display: inline-block;
    width: 40%;
    padding: 3%;
    margin: 0 1px;
}
h4{
    font-family: Abril Fatface;
}
section#second-section {
    display: inline-block;
    width: 25%;
    padding: 3%;
    margin: 0 1px;
}
#foot {
    text-align: center;
    font-style: italic;
}
.footer {
    text-align: center;
}
nav {
    position: sticky;
    background-color: white;
    top: 0px;
    border-collapse: inherit;
    border-top: 1px solid black;
    border-bottom: 1px solid black
    
}
ul {
    margin-block-start: 1px;
    margin-block-end: 1px;
}